<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BrowserApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBrowser"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidBrowser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- GeckoView child process services -->
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab"
            android:exported="false"
            android:process=":tab" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab0"
            android:exported="false"
            android:process=":tab0" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab1"
            android:exported="false"
            android:process=":tab1" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab2"
            android:exported="false"
            android:process=":tab2" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab3"
            android:exported="false"
            android:process=":tab3" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab4"
            android:exported="false"
            android:process=":tab4" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab5"
            android:exported="false"
            android:process=":tab5" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab6"
            android:exported="false"
            android:process=":tab6" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab7"
            android:exported="false"
            android:process=":tab7" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab8"
            android:exported="false"
            android:process=":tab8" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab9"
            android:exported="false"
            android:process=":tab9" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab10"
            android:exported="false"
            android:process=":tab10" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab11"
            android:exported="false"
            android:process=":tab11" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab12"
            android:exported="false"
            android:process=":tab12" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab13"
            android:exported="false"
            android:process=":tab13" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab14"
            android:exported="false"
            android:process=":tab14" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab15"
            android:exported="false"
            android:process=":tab15" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab16"
            android:exported="false"
            android:process=":tab16" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab17"
            android:exported="false"
            android:process=":tab17" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab18"
            android:exported="false"
            android:process=":tab18" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab19"
            android:exported="false"
            android:process=":tab19" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab20"
            android:exported="false"
            android:process=":tab20" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab21"
            android:exported="false"
            android:process=":tab21" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab22"
            android:exported="false"
            android:process=":tab22" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab23"
            android:exported="false"
            android:process=":tab23" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab24"
            android:exported="false"
            android:process=":tab24" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab25"
            android:exported="false"
            android:process=":tab25" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab26"
            android:exported="false"
            android:process=":tab26" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab27"
            android:exported="false"
            android:process=":tab27" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab28"
            android:exported="false"
            android:process=":tab28" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab29"
            android:exported="false"
            android:process=":tab29" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab30"
            android:exported="false"
            android:process=":tab30" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab31"
            android:exported="false"
            android:process=":tab31" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab32"
            android:exported="false"
            android:process=":tab32" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab33"
            android:exported="false"
            android:process=":tab33" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab34"
            android:exported="false"
            android:process=":tab34" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab35"
            android:exported="false"
            android:process=":tab35" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab36"
            android:exported="false"
            android:process=":tab36" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab37"
            android:exported="false"
            android:process=":tab37" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab38"
            android:exported="false"
            android:process=":tab38" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$tab39"
            android:exported="false"
            android:process=":tab39" />
        <service
            android:name="org.mozilla.gecko.process.GeckoChildProcessServices$gpu"
            android:exported="false"
            android:process=":gpu" />
    </application>

</manifest>
