# Gradle files
/.gradle
**/.gradle

# Local configuration file (sdk path, etc.)
/local.properties

# Build outputs
/build
/app/build

# IDEA
/.idea
*.iml

# macOS
.DS_Store

# Kotlin
/.classpath
/.project

# Other
/.settings
captures/
/.externalNativeBuild
.cxx
